.select {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px 50px;
  box-sizing: border-box;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  transition: 0.5s;
  color: #fff;
  background: linear-gradient(
    98.3deg,
    #fc5f5f -4%,
    #d62d2d 100.69%,
    rgba(240, 78, 78, 0.203125) 100.7%,
    #bd1515 100.71%
  );
  border-radius: 12px;

  &-options {
    color: #000;
    min-width: 252px;
    border-radius: 12px;
  }

  &-title {
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 15px;
  }
}
